<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<filter>
		<filter-name>Auth</filter-name>
		<filter-class>ca.casualt.norland.filters.Auth</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Auth</filter-name>
		<url-pattern>/norlandserver</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>NorlandServer</servlet-name>
		<servlet-class>ca.casualt.norland.NorlandServerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NorlandServer</servlet-name>
		<url-pattern>/norlandserver</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
